[submodule "contracts/holyzeppelin"]
	path = contracts/holyzeppelin
	url = git@github.com:cyotee/holyzeppelin.git
[submodule "contracts/chains"]
	path = contracts/chains
	url = git@github.com:Mimir-Solutions/chains.git
[submodule "contracts/eris-token"]
	path = contracts/eris-token
	url = git@github.com:cyotee/eris-token.git
[submodule "contracts/authorization-protocol."]
	path = contracts/authorization-protocol.
	url = git@github.com:cyotee/authorization-protocol.git
[submodule "contracts/quadratic-pricing-sales-protocol"]
	path = contracts/quadratic-pricing-sales-protocol
	url = git@github.com:cyotee/quadratic-pricing-sales-protocol.git
[submodule "contracts/authorization-protocol"]
	path = contracts/authorization-protocol
	url = git@github.com:cyotee/authorization-protocol.git
